.body {
  margin: 0;
  background-color: aqua;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
    
  border-bottom: 15px;
  font-size: 15px;
  background-color:brown;
  
}

.result {
  font-size: 30px;
  font-weight: bold;
}

.header {
  font-size: 50px;
}
